body{
    background: rgb(211, 209, 209);
    margin: 0;
}
header{
    background: white;
    
}
header h1{
    margin: auto;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    
}

.post{
    background: white;border-radius: 5%;
    width: 500px;
    height: 100%;
}
.container{
    width:600px;
    margin: auto;
    margin-top: 20px;
}
.image1{
    width: 100%;
    display: flex;
}
.title{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    font-family:'Montserrat', sans-serif;
}
.date1{
    float: right;
    margin-top: 27px;
    margin-left: 50px;
}
.content{
    display: flex;
    margin: auto;
    padding: 20px;
    font-family:'Montserrat', sans-serif;
}